################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/WebApplication4/Properties/launchSettings.json
/WebApplication4/ASPZIZ.csproj
